[Unit]
Description=Heartbeat Server

[Service]
Environment=HEARTBEAT_PORT=8162
WorkingDirectory=/your/download/directory/here
ExecStart=/home/username/.deno/bin/deno run --allow-net --allow-env ./index.ts

[Install]
WantedBy=multi-user.target
